body {
  background-color: rgb(41, 41, 41);
  color: aliceblue;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.container {
  display: flex;
}
.image {
  height: 50vh;
  margin: 10px;
}

.App {
  height: 100%;
  width: 100%;
}

.carousel {
  align-items: flex-end;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 20px 20px 100px 40px rgb(1 1 1 / 70%);
  display: flex;
  height: calc(100vh - 20rem);
  justify-content: unset;
  position: relative;
  width: 100%;
}

.section-title {
  letter-spacing: 0.1em;
  margin: 1em 0;
}

.card-media {
  min-width: 14em;
  max-width: 14em;
  border-radius: 2em;
  overflow: hidden;
}

.movie-card {
  background-color: rgb(41, 41, 41);
  color: aliceblue;
  font-family: Montserrat, sans-serif;
  min-width: 12em;
  max-width: 12em;
  height: 14em;
  border-radius: 3em;
}

.search-form {
  width: 100%;
}
.search-input {
  width: 85%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 40px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
.search-input:focus {
  color: #00b4cc;
}
.search-button {
  margin-top: 2px;
  width: 15%;
  height: 40px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
