.page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    background: repeat center center  /cover;
    font-size: 1.2rem;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    background-color: rgba(240, 248, 255, 0.6) ;
    min-height: 60vh;
    padding: 0.9rem;
}

 .image{
    height: 60vh;
    align-self: center;
    margin-right: 2.5rem ;
 }
 .strong-text{
     font-weight: bold
 }
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: 100%;
        margin-top: 0;
    }
    .image{
        height: 40vh;
        margin-top: 1rem;
    }
}
